<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
</head>
<body>
<center>
<h1>Cambiar Password</h1>
<form action="" method="post" name="change_pass">
		{{ form.hidden_tag() }}
		<p>
			Digite su Nueva Contraseña:<br>
			{{ form.password(size = 48) }}<br><br>
			Rescriba su Contraseña:<br>
			{{ form.confirm(size = 48) }}<br><br>
			{% for error in form.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}<br>
		</p>
		<p><input type="submit" value="Aceptar"> </p>
	</form>
	</center>
</body>
</html>